.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 556;
    background-color: #fff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none!important;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Logo {
    height: 11%;
    width: 5%;
    margin: 0 0 32px -39px;
}

.Log img {
    display: block;
}
